.header {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoText {
  color: white;
  margin-left: 10px;
}

.logoImage {
  width: 50px;
  height: 40px;
}

.navItems {
  display: flex;
  list-style: none;
}

.navlink {
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.headerStop {
  background: white;
  height: 1px;
  width: 100%;
  margin-top: 5px;
}

.select {
  border: 1.5px solid #fff;
  height: 30px;
  border-radius: 5px;
  background: transparent;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  padding-left: 5px;
}

.currencyOption {
  color: #000;
}

.select:focus {
  outline: none;
}

.button {
  height: 30px;
  background: white;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-left: 10px;
  padding-bottom: 2px;
  font-size: 14px;
}

/* Menu toggle button (hamburger icon) */
.menuToggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.menuToggle .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  margin: 3px 0;
  transition: all 0.5s ease-in-out;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .navItems {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #1a1a1a;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    z-index: 1;
  }

  .navItems.open {
    display: flex;
  }

  .navlink {
    padding: 15px 0;
    width: 100%;
  }

  .headerButtons {
    display: none;
  }

  .menuToggle {
    display: flex;
  }

  .header {
    justify-content: space-between;
  }
}
